@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'locomotive-scroll/dist/locomotive-scroll.css';

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    /* ... other custom properties ... */
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    /* ... other custom properties ... */
  }
}

@layer utilities {
  .bg-background {
    background-color: black;
  }
  .text-foreground {
    color: hsl(var(--foreground));
  }
  /* Add other custom utilities if needed */
}

@layer base {
  body {
    @apply bg-background text-foreground;
    color: white;
  }
  body::-webkit-scrollbar{
    display: none;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 1s ease-in-out forwards;
}
